:root {
  --rds-blue: 84, 152, 214;
  --rds-blue-hex: #5498d6;
}

ul {
    list-style: none;
}

ul li::before {
    content: "▪";
    color:  rgb(var(--rds-blue));
    font-weight: bold;
    display: inline-block;
    width: 0.5em;
    margin-left: -1em;
    margin-right: 0.5em;
    margin-top: 1em;
    padding-top: -1em;

}

.panelset ul li::before{content: none;}
.panelset {
  //--panel-tab-foreground: var(--rds-blue-hex);
  --panel-tab-active-foreground: var(--rds-blue-hex);
  --panel-tab-hover-foreground: var(--rds-blue-hex);
  --panel-tabs-border-bottom: var(--rds-blue-hex);
  --panel-tab-inactive-opacity: 0.5;
}


hr {
  border: 0;
  width: 250%;
  border-top: 5px solid rgb(var(--rds-blue));
  
  //padding-left: 0px;
  margin-left: -100%;  
  //text-align: left;
  //margin-right: 0;
  
  display: flex;
  flex: 1 1 auto;
}

.title-slide {
  background-image: url(Graphics/D2.jpg);
  text-align: left
}
  

.title-slide h1 {
  background: rgba(var(--rds-blue), 0.9);
  padding: 0 20px;
  display:inline-block; 
  color: rgb(255,255,255);
}  

.title-slide h3 {
  background: rgba(255,255,255, 0.9);
  padding: 0 20px;
  display: inline; 
  color: rgb(0,0,0);
}  

.my-logo-right {
content: "";
    position: absolute;
    top: 15px;
    right:   8px;
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Graphics/WU_Logo.png);
}


.remark-slide-number {
  color: rgb(137,137,137);
  left: 2%;
  background-color: rgba(255,255,255, 0.1);
}

.title-slide .remark-slide-number {
  display: none;
}

.hide-count .remark-slide-number {
  display: none;
}

div.footer {
    color: rgb(137,137,137);
    background-color: rgba(255,255,255, 0.1);
    position: absolute;
    left: 40%;
    bottom: 10px;
    height: 25px;
    width: 100%;
}
div.footer span {
    font-size: 13pt;
    color: rgb(137,137,137);
    position: absolute;
    left: 15px;
    bottom: 1px;
}

.wubox {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: rgb(0,150,211, 0.9);
  color: rgb(255,255,255);
  border-radius: 5px;
}

.center {
  text-align: center;
}
